/* NAVBAR */




main {
    position: relative;
}

/* SECTION - 1 */



.oval-svg {
    position: absolute;
}

/* SECTION-2 */


.line{
    width: 98.3vw;
    height: 0.063rem;
    margin: 0 0 5.75rem;
    border: solid 0.9px #242427;
}